# Laravel Application Root
# This file is in the root of the Laravel application
# Most API subdomains should point to the 'public' directory
# If your subdomain points here, you'll need to use index_for_subdomain.php

